@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/*
Variables
*/

$fontcolor: white;
$darkbackground: #225378;
$lightbackground: #1695A3;
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);
/**
 * GENERAL
 */

img {
    max-width: 100;
}
body {
    transition: opacity .25s ease;
}
.timedate {
    padding: 5px;
    width: 100px;
    height: 100px;
    z-index: -20;
}
.time {
    color: navy;
    width: 42px;
    position: relative;
    margin-left: 78px;
}
.icon {
    font-size: 3rem;
    border-radius: 100%;
    position: relative;
    margin-top: -20px;
    width: 75px;
    height: 75px;
    background-color: $lightbackground;
    color: navy;
}
.icon:hover {
    background-color: $darkbackground;
    color: red;
}
i {
    transform: translate(22px, -8px)
}
.timeLine {
    position: absolute;
    height: 100%;
    width: 10px;
    border-radius: 5px;
    background-color: $lightbackground;
    top: 30px;
    left: -89px;
    z-index: -30;
}
.timeLine:hover {
    background-color: navy;
    color: red;
}
.content-container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.content {
    margin: 8px;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    background-color: $lightbackground;
}
.triangle {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    background-color: $lightbackground;
    z-index: -10;
}
.title {
    color: $fontcolor;
    margin: 0;
}
h3 {
    border-bottom: 1px solid black;
}
@media screen and (min-width: 600px) {
    .timedate {
        position: fixed;
        width: 125px;
    }
    .content-container {
        margin-left: 125px;
    }
}